extends layout
block content
  section#main
    div(class="inner")
      p 感謝您，回應已經送給原作者囉～
      p 如果覺得這套系統還不錯，何不來建立屬於您的回應表單呢？
      ul(class="actions")
        li
          a(href="/#create" class="button alt") Get Started