extends layout

block content
  h1= title
  p 歡迎來 #{title} ，你可以快速地建立一個表單來接收大家的回應，使用網址或是QRCode快速地傳遞給你的朋友們。
  p 這是一個練手的簡單專案，如果有任何問題或錯誤回報，請聯繫 ethen at anotherdream dot com, 也歡迎直接到 
    a(href="https://github.com/sakura26/getcomment") Github page
    | 發PR, 感謝您
  p 原點子來自 
    a(href="https://www.facebook.com/robin.wang168") Robin Wang 
    | /
    a(href="https://www.facebook.com/groups/homebrew.tw/permalink/1631843680166267/") 原討論串
  hr
  p 建立戳戳樂
  form(action='/thread', method="post")
    div.input
      | 主題 
      input(type="text", name="title") 
      br
      | 你想說的話 
      textarea(type="text", name="ownerSaid") 
      br
      | 回覆樣本
      textarea(type="text", name="defaultResponse") 
      br
      | 標籤 
      input(type="text", name="tags") 
      br
      | 你的Eamil(會寄送管理資訊給您) 
      input(type="text", name="email") 
    div.actions
      input(type="submit", value="add")
